<div class="mdc-text-field mdc-text-field--fullwidth">
  <input class="mdc-text-field__input" (keyup)="getValues($event.target.value)"
    [(ngModel)]="startDate" id="sDate" name="sDate" mask="99/9999" type="text" />
  <label class="mdc-floating-label"
    [class.mdc-floating-label--float-above]="startDate !== ''" for="sDate">
    {{label}} <i [title]="helpDateStart" class="fa fa-question-circle fa-lg cursor--pointer" data-toggle="tooltip"></i>
  </label>
  <div class="mdc-line-ripple"></div>
</div>