.tabelinha {
    display: block;
}

.tabelinha > thead,
.tabelinha > tbody {
    display: table;

}

.tabelinha > thead > tr, .tabelinha > tbody > tr {
    display: table-row;


}

.tabelinha > thead > tr > th, .tabelinha > tbody > tr > td {
    display: table-cell;

}


.mdl-data-table tbody tr td {
    padding: 0px 4px !important;
}


th {
    padding-left: 0 !important;
}

.label-actions{
    margin-bottom: 8px;
    margin-left: 10px;
}

.mdc-text-action {
    border-bottom-color: rgba(0,0,0,0.12);
}

.col-action{
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0;
    height: auto;
    font-size: 12px;
    box-sizing: border-box;
    min-width: 150px;
    padding: 0 18px 8px 18px;
}
