<div class="mdc-text-field mdc-text-field--textarea mdc-text-field--fullwidth">
    <textarea [(ngModel)]="_insertion.comments" [id]="name" [name]="name" class="mdc-text-field__input"
              rows="10"></textarea>

    <label [class.mdc-floating-label--float-above]="_insertion.comments" [for]="name" class="mdc-floating-label">
        {{ label }} <i [title]="help" class="fa fa-question-circle fa-lg cursor--pointer" data-toggle="tooltip"></i>
    </label>

    <div class="mdc-line-ripple"></div>
</div>
