// Font family
div, input, h1, h2, h2, h3, h4, label, tr, td, div, li, ol, span, a, button, p, small, select, strong {
    font-family: 'Ubuntu', 'Roboto', sans-serif;
}

.mdc-text-field__input, .mdc-floating-label, .mdc-select__native-control, .mdc-button, .mdc-menu, .mdc-list-item, .condensed-text, .mdc-label {
    font-family: 'Ubuntu Condensed', sans-serif;
}


// Font size
@for $i from 10 through 30 {

    @if $i % 2 == 0 {

        .font-#{$i} {
            font-size: #{$i}px;
        }
    }
}
