// Text

.text {
    &--center {
        text-align: center !important;
    }

    &--justify {
        text-align: justify !important;
    }

    &--right {
        text-align: right !important;
    }

    &--left {
        text-align: left !important;
    }
}
