<div
    class="portal-main__content mdc-layout-grid--fullheight mdc-theme--background mdc-theme--text-primary-on-background">
    <div class="mdc-layout-grid portal-dashboard">
        <div class="mdc-layout-grid__inner">
            <div
                class="portal-widget mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                <p class="portal-widget__heading mdc-typography--subheading2">
                    Resumo de <strong>Mídia</strong>
                </p>

                <div class="mdc-card portal-widget__card mdc-card--portal-fullheight mdc-card--portal-space-between">
                    <div>
                        <form>
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">
                                    <div
                                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                        <div class="mdc-layout-grid__inner">
                                            <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone"
                                                style="margin: 0 0 1em 0">
                                                <div class="mdc-layout-grid__inner">
                                                    <div class="mdc-text-field  mdc-text-field--upgraded mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-2-phone"
                                                        style="margin-bottom: 20px">
                                                        <input autocomplete="off" class="mdc-text-field__input"
                                                            id="id_acao" name="id_acao" type="text" />
                                                        <label class="mdc-floating-label" for="endereco">ID AÇÃO
                                                        </label>
                                                        <div class="mdc-line-ripple"></div>
                                                    </div>

                                                    <div
                                                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone">
                                                        <div class="" style="margin: 25px 0 0 20px; text-align: left ">
                                                            <button class="mdc-button mdc-button--outlined"
                                                                style="width: 100px">
                                                                <i class="fa fa-search"></i>
                                                                &nbsp;Buscar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div
                                                    class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                                    <p>
                                                        <small><b>Marca (STS) </b>UEFA-LANCE-CAMPEAO</small>
                                                    </p>
                                                </div>

                                                <div
                                                    class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                                    <p>
                                                        <small><b>Marca
                                                                (visto)</b>
                                                            Promoção lance
                                                            deCampeão
                                                            (Champions)
                                                        </small>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone"
                                                style="margin: 0 0 1em 0">
                                                <div class="">
                                                    <table class="text--left ">
                                                        <tbody>
                                                            <tr>

                                                                <td class="text--right">

                                                                    <p>
                                                                        <small>2.563.681,00</small>
                                                                    </p>
                                                                </td>
                                                                <td>
                                                                    <p>
                                                                        <small><b>Orçado</b></small>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text--right">
                                                                    <p>
                                                                        <small>2.563.681,00</small>
                                                                    </p>
                                                                </td>
                                                                <td>
                                                                    <p>
                                                                        <small><b>Planejado</b></small>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text--right">
                                                                    <p>
                                                                        <small>2.563.681,00</small>
                                                                    </p>
                                                                </td>
                                                                <td>
                                                                    <p>
                                                                        <small><b>
                                                                                Comprometido</b></small>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text--right">
                                                                    <p>
                                                                        <small>
                                                                            2.563.681,00</small>
                                                                    </p>
                                                                </td>
                                                                <td>
                                                                    <p>
                                                                        <small><b>Realisado</b></small>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

   

                                            <div
                                                class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone text--right">
                                                <hot-table [settings]="settings"></hot-table>
                                            </div>

                                            <div class="mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone"
                                                style="margin: 0 20px 1em auto">
                                                <div class="text--right">
                                                    <table class="">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <p>
                                                                        <b>Total</b>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                           
                                                            <tr>
                                                                <td>
                                                                    <p>
                                                                        <b>Saldo</b>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone"
                                                style="margin: 0 10px 1em auto">
                                                <div class="text--left">
                                                    <table class="">
                                                        <tbody>
                                                       
                                                            <tr>
                                                                <td>
                                                                    <p>
                                                                        404.325,56
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                      
                                                            <tr>
                                                                <td>
                                                                    <p>
                                                                       -412.021,56
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
