<!--<div class="mdc-text-field mdc-text-field--fullwidth">
    <input [(ngModel)]="_extra.base_url" [disabled]="this.status.isConfirmed" [id]="name" [name]="name" autocomplete="off"
           [required]="field_required"
           class="mdc-text-field__input" type="text">

    <label [class.mdc-floating-label--float-above]="_extra.base_url" [for]="name" class="mdc-floating-label">
        {{ label }} <i [title]="help" class="fa fa-question-circle fa-lg cursor--pointer" data-toggle="tooltip"></i>
    </label>

    <div class="mdc-line-ripple"></div>
</div>
-->