<div
    class="portal-main__content mdc-layout-grid--fullheight mdc-theme--background mdc-theme--text-primary-on-background">
    <div class="mdc-layout-grid portal-dashboard">
        <div class="mdc-layout-grid__inner">
            <div
                class="portal-widget mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                <p class="portal-widget__heading mdc-typography--subheading2">
                    Chaves de Inserção: <strong>{{insertion.id}}</strong>

                    <span *ngIf="insertion.insertion_id">
                        | <a [queryParams]="{id: insertion.insertion_id}"
                             routerLink="/insertions/update"> Herança: {{ insertion.insertion_id }}</a>
                    </span>

                    <span class="float--right">
                        <button class="mdc-button mdc-button--outlined mg-4--horizontal mg-n-8--top"
                                routerLink="/insertions">Voltar</button>
                        <button [queryParams]="{id: insertion.id}"
                                class="mdc-button mdc-button--outlined mg-4--horizontal mg-n-8--top"
                                routerLink="/insertions/show">Visualizar</button>
                        <button (click)="confirmDuplicate(insertion)" [disabled]="!insertion.confirmation"
                                class="mdc-button mdc-button--outlined mg-4--horizontal mg-n-8--top">Duplicar</button>
                        <button (click)="confirm(insertion)"
                                class="mdc-button mdc-button--outlined mg-4--horizontal mg-n-8--top">Excluir</button>
                        <a class="mdc-button mdc-button--outlined mg-4--horizontal mg-n-8--top"
                           href="/insertions/create">
                                    <i class="fa fa-plus"> </i>&nbsp;Cadastrar
                         </a>
                    </span>
                </p>

                <div class="mdc-card portal-widget__card mdc-card--portal-fullheight mdc-card--portal-space-between">
                    <div>
                        <form #formInsertion="ngForm" (submit)="send()" autocomplete="off">
                            <div class="mdc-layout-grid">
                                <div class="mdc-layout-grid__inner">
                                    <div
                                        class="mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                        <div class="mdc-layout-grid__inner">
                                            <div
                                                class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                                <app-reference-date-field
                                                    [insertion]="insertion"></app-reference-date-field>
                                            </div>

                                            <div
                                                class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                                <app-area-field [checkAreaChange]="true"
                                                                [insertion]="insertion"></app-area-field>
                                            </div>
                                        </div>

                                        <div class="mdc-layout-grid__inner">
                                            <div
                                                class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                                <app-media-field [checkMediaChange]="true"
                                                                 [insertion]="insertion"></app-media-field>
                                            </div>

                                            <div
                                                class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                                <app-campaign-name-field
                                                    [insertion]="insertion"></app-campaign-name-field>
                                            </div>
                                        </div>

                                        <div class="mdc-layout-grid__inner">
                                            <div
                                                class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                                <app-pi-number-field [insertion]="insertion"></app-pi-number-field>
                                            </div>

                                            <div
                                                class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                                <app-initiative-field [insertion]="insertion"></app-initiative-field>
                                            </div>
                                        </div>

                                        <div class="mdc-layout-grid__inner">
                                            <div
                                                class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                                <app-investment-field [insertion]="insertion"></app-investment-field>
                                            </div>

                                            <div
                                                class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                                <app-pi-type-field [insertion]="insertion"></app-pi-type-field>
                                            </div>
                                        </div>

                                        <div class="mdc-layout-grid__inner">
                                            <div
                                                class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone"
                                                style="border-bottom: 1px solid; border-bottom-color: rgba(0,0,0,0.12);">
                                                <app-pi-not-rated-field
                                                    [insertion]="insertion"></app-pi-not-rated-field>
                                            </div>

                                            <div
                                                class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                                <app-unit-cost-field [insertion]="insertion"></app-unit-cost-field>
                                            </div>
                                        </div>

                                        <div class="mdc-layout-grid__inner">
                                            <div
                                                class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                                <app-impact-field [insertion]="insertion"></app-impact-field>
                                            </div>

                                            <div
                                                class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                                <app-impact-type-field [insertion]="insertion"></app-impact-type-field>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone mg-10--top">
                                        <div
                                            class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                            <app-comments-field [insertion]="insertion"></app-comments-field>
                                        </div>
                                    </div>

                                    <div
                                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                        <p class="mdc-typography--body2 float--right">
                                            <small>Os campos marcados com * são obrigatórios.</small>
                                        </p>
                                    </div>

                                    <div *ngIf="insertion?.media == '' ||  insertion?.media == null "
                                         class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                        <div class="float--right">
                                            <button class="mdc-button mdc-button--outlined">
                                                Salvar alterações &nbsp; <i class="fa fa-send-o"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <app-default-extra *ngIf="mediaModuleService.isEqual(insertion?.media,'DEFAULT')" [admin]="false"
                           [insertion]="insertion"></app-default-extra>
        <app-ooh-extra *ngIf="mediaModuleService.isEqual(insertion?.media,'OOH')" [admin]="false"
                       [insertion]="insertion"></app-ooh-extra>
        <app-digital-extra *ngIf="mediaModuleService.isEqual(insertion?.media,'DIGITAL')" [admin]="false"
                           [insertion]="insertion"></app-digital-extra>

        <app-default-mmm
            *ngIf="mediaModuleService.isEqual(insertion?.media,'DEFAULT') ||  mediaModuleService.isEqual(insertion?.media,'OOH')"
            [_insertion]="insertion"></app-default-mmm>
        <app-digital-mmm *ngIf="mediaModuleService.isEqual(insertion?.media,'DIGITAL')"
                         [_insertion]="insertion"></app-digital-mmm>


        <app-default-mrm *ngIf="insertion?.media !== '' &&  insertion?.media !== null"
                         [_insertion]="insertion"></app-default-mrm>

        <div *ngIf="!insertion.confirmation &&  insertion?.media !== '' && insertion?.media !== null"
             class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone mg-20--top">


            <button (click)="onChange(insertion)" *ngIf=" (!mediaModuleService.isEqual(insertion?.media,'DIGITAL') || user.company_id === companies.PREDICTA
                             || user.company_id === companies.SANTANDER_ADMIN  || user.company_id === companies.BBI_SOLUTIONS)"
                    class="mdc-button mdc-button--unelevated float--right">
                <i class="fa fa-hashtag"></i> &nbsp; Gerar hash
            </button>

            <button (click)="onChangeAndSend(insertion)" *ngIf=" mediaModuleService.isEqual(insertion?.media,'DIGITAL') && (user.company_id !== companies.PREDICTA
            && user.company_id !== companies.SANTANDER_ADMIN  && user.company_id !== companies.BBI_SOLUTIONS)"
                class="mdc-button mdc-button--unelevated float--right">
                <i class="fa fa-hashtag"></i> &nbsp; Gerar Hash e Enviar Dados Para Predicta
            </button>

        </div>

        <div *ngIf="mmmService.isNewGroup && (insertion.confirmation && ( insertion.media === 'INTERNET' || insertion.media === 'OOH-DIGITAL' ) ) && insertion?.media !== '' && insertion?.media !== null"
             class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone mg-20--top">

            <button (click)="newCanGenerateHash(insertion)" class="mdc-button mdc-button--unelevated float--right">
                <i class="fa fa-hashtag"></i> &nbsp; Gerar Nova Hash
            </button>

            <!--
            <button (click)="newCanGenerateHash(insertion)" *ngIf=" mediaModuleService.isEqual(insertion?.media,'DIGITAL') && (user.company_id !== companies.PREDICTA
            && user.company_id !== companies.SANTANDER_ADMIN  && user.company_id !== companies.BBI_SOLUTIONS)"
                class="mdc-button mdc-button--unelevated float--right">
                <i class="fa fa-hashtag"></i> &nbsp; Gerar Nova Hash e Enviar Dados Para Predicta
            </button>
            -->

        </div>

        <div
            class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone mg-80--vertical"></div>
    </div>
    <app-modal-wizard-hash *ngIf="modalShow.wizard" [insertion]="insertion" [predicta]="predicta" [novo]="novo"></app-modal-wizard-hash>

</div>


