<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner mg-10--bottom">
        <div
        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
        <p>tablet</p>
    
        <iframe class="text--center"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3074.5741107363!2d-46.69317834581817!3d-23.593377474299253!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5740ad888771%3A0x927e34b492970934!2sSantander!5e0!3m2!1spt-BR!2sbr!4v1569527514137!5m2!1spt-BR!2sbr"
            height="601" frameborder="0" style="border:0;" allowfullscreen="" style="width: 100%"></iframe>
    </div>

    </div>
</div>

