<div
    class="portal-main__content mdc-theme--text-primary-on-light mdc-theme--primary-dark-0-bg portal-no-layout-container full-height">
    <div class="mdc-layout-grid mdc-layout-grid--fullheight">
        <div class="mdc-layout-grid__inner">
            <div
                class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-4-phone"></div>

            <div
                class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
                <div
                    class="mdc-card portal-card--error portal-card--error-404 portal-card--hero mdc-elevation--z24 text--center">
                    <div>
                        <div class="portal-card__content">
                            <section class="pd-16--vertical">
                                <h1 class="mdc-typography--headline mdc-theme--secondary">Página não encontrada</h1>
                                <p class="mdc-typography--body1">Desculpe, a página que você estava procurando não foi
                                    encontrada.</p>
                            </section>

                            <div class="portal-card__content--column-actions">
                                <a class="mdc-button" routerLink="/dashboard">Voltar para HOME</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
