<div
  class="portal-main__content mdc-layout-grid--fullheight mdc-theme--background mdc-theme--text-primary-on-background">
  <div class="mdc-layout-grid portal-dashboard">
    <div class="mdc-layout-grid__inner">
      <div
        class="portal-widget mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
        <p class="portal-widget__heading mdc-typography--subheading2" id="p-listagem-media-plan">
          Consolidação
        </p>

        <div class="mdc-card portal-widget__card mdc-card--portal-fullheight mdc-card--portal-space-between">

         <app-iframe-mobile *ngIf="innerWidth < 640"></app-iframe-mobile>
         <app-iframe-tablet *ngIf="innerWidth >= 640 && innerWidth < 820"></app-iframe-tablet>
         <app-iframe-desktop *ngIf="innerWidth >= 820"></app-iframe-desktop>
         
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #empty>
  <tr>
    <td class="text--center" colspan="6">Nenhum resultado encontrado!</td>
  </tr>
</ng-template>