<div class="mdc-layout-grid__inner mg-40--top">
    <div
        class="portal-widget mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
        <p class="portal-widget__heading mdc-typography--subheading2">Extras</p>

        <div class="mdc-card portal-widget__card mdc-card--portal-fullheight mdc-card--portal-space-between">
            <div>
                <form (submit)="send()" autocomplete="off">
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div
                                class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                <div class="mdc-layout-grid__inner">
                                    <div
                                        class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                        <app-initial-date-field [extra]="extra" [field_required]="true"
                                                                [insertion]="_insertion"></app-initial-date-field>
                                    </div>

                                    <div
                                        class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                                        <app-final-date-field [extra]="extra" [field_required]="true"
                                                              [insertion]="_insertion"></app-final-date-field>
                                    </div>
                                </div>
                            </div>

                            <div
                                class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                <p class="mdc-typography--body2 float--right">
                                    <small>Os campos marcados com * são obrigatórios.</small>
                                </p>
                            </div>

                            <div
                                class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                                <div class="float--right">
                                    <button class="mdc-button mdc-button--outlined">
                                        Salvar alterações &nbsp; <i class="fa fa-send-o"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
