<div class="portal-main__content mdc-theme--background mdc-theme--text-primary-on-background">
    <div class="portal-pages__header" style="min-height: 300px">
        <div class="mdc-layout-grid__cell--span-1-desktop"></div>
        <div style=" display: block;margin-top:-183px">
            <img alt="Santander" class="portal-pages__header-img" src="/assets/images/santander_logo_white.png">

            <h1 class="portal-title" id="portal-title">SISTEMA TAGS SANTANDER</h1>
        </div>
    </div>

    <section class="portal-pages__content">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">

                <div class="mdc-layout-grid__cell--span-1-desktop"></div>

                <div
                    class="mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone portal-pages__content-inner"
                    style="">

                    <h3 class="portal-pages__heading">Objetivo desse sistema:</h3>

                    <ul class="portal-list mdc-typography--body1">
                        <li>Criar CATEGORIAS e PADRÕES para todas as ações de Marketing, permitindo a criação de
                            variáveis explicativas do MMM, com maior detalhe quanto a sua
                            contribuição, além de indicadores que apoiem as estratégias no negócio.
                        </li>
                        <li>Gerar hash_sts (chave criptografada), que viabilize o vínculo das informações de ações de
                            Marketing, entre as etapas de: PLANEJAMENTO, EXECUÇÃO e
                            MENSURAÇÃO.
                        </li>
                        <li>Gerenciar de maneira macro, as origens de investimento das ações de Marketing.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
