<div
    class="portal-main__content mdc-theme--text-primary-on-light light-grey-bg portal-no-layout-container full-height bg-img--bottom">
    <div class="mdc-layout-grid mdc-layout-grid--fullheight">
        <div class="mdc-layout-grid__inner">
            <div
                class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-4-phone"></div>
            <div
                class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
                <div class="mdc-card portal-card portal-card--hero mdc-elevation--z24 text--center">
                    <div class="mdc-theme--primary-bg mdc-theme--text-primary-on-secondary portal-card__content">
                        <div class="portal-card__title portal-card__title--vertical">
                            <img alt="logo" class="portal-card__logo" src="/assets/images/santander_logo_white.png"
                                 width="100">
                            <h1 class="portal-card--headline">Esqueceu sua senha</h1>
                        </div>
                        <p class="mdc-typography--body1">Por favor, digite seu endereço de e-mail. Você receberá um link
                            para criar uma nova senha por email.</p>
                    </div>

                    <div class="portal-card__content portal-card__form-pwd portal-card--flex-column">
                        <form #formForgotPassword="ngForm" (submit)="send()" autocomplete="off"
                              class="portal-card--password__item">
                            <div class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--dense">
                                <input [(ngModel)]="user.email" autocomplete="off" class="mdc-text-field__input" email
                                       id="email" name="email" required type="email">
                                <label class="mdc-floating-label" for="email">Email</label>
                                <div class="mdc-line-ripple"></div>
                            </div>

                            <p class="mdc-typography--body2 text--right">
                                <small>Os campos marcados com * são obrigatórios.</small>
                            </p>
                        </form>

                        <div [ngClass]="{disabled: !formForgotPassword.valid}"
                             class="portal-card__content--column-actions portal-card__content--column-actions-vertical">
                            <button (click)="send()" [disabled]="!formForgotPassword.valid"
                                    class="mdc-button mdc-button--raised mdc-button--portal-reset">Enviar Redefinir Link
                            </button>
                            <a class="mdc-button mdc-button--back-login" routerLink="/auth/login">Volte ao login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
