<div class="mdc-layout-grid__inner mg-80--top">
    <div
        class="portal-widget mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
        <p class="portal-widget__heading mdc-typography--subheading2">
            MMM linha criativo (Título PI)<i class="fa fa-question-circle font-18 cursor--pointer" data-toggle="tooltip"
                title="Cada linha criativo (Título PI) cadastrada, terá uma HASH_MMM gerada automaticamente, assim que clicar no botão GERAR_HASH e CONFIRMAR na tela seguinte."></i>

            <span class="pull-right">
                <i *ngIf="insertion.confirmation"
                    class="fa fa-question-circle font-26 float--left mg-8--right mg-6--top cursor--pointer"
                    data-toggle="tooltip"
                    title="Esse botão garante a cópia da hash gerada para todas as linhas criativos/peças de uma só vez, juntamente o nome da respectiva peça. Essa informação deverá ser disponibilizada no campo OBSERVAÇÃO do PI no Sistema AD. Ex. Cartão Free = #119:g163-p163[T20]:99# Cartão 123 = #119:g164-p164[T19]:99# "></i>
                <button (click)="copyHash()" *ngIf="insertion.confirmation"
                    class="mdc-button mdc-button--raised mg-2--right"><i class="fa fa-copy fa-lg"></i> &nbsp; Copiar
                    Hash</button>
                <button (click)="showModalGroup()" class="mdc-button mdc-button--outlined"
                    *ngIf="insertion.media === 'INTERNET' || insertion.media === 'OOH-DIGITAL'"><i class="fa fa-plus fa-lg"></i>
                    &nbsp; Peça</button>
                <button (click)="showModalGroup()" *ngIf="insertion.media !== 'INTERNET' && insertion.media !== 'OOH-DIGITAL'"
                    [disabled]="insertion.confirmation" class="mdc-button mdc-button--outlined"><i
                        class="fa fa-plus fa-lg"></i> &nbsp; Peça</button>
            </span>
        </p>

        <div class="mdc-card portal-widget__card mdc-card--portal-fullheight mdc-card--portal-space-between">
            <div>
                <div *ngIf="groups.length; else empty" class="pd-10">
                    <div *ngFor="let group of groups" class="panel panel-info mg-10--top ">
                        <div *ngIf="group.id !== group.insertion_group_tag_id && group.insertion"
                            class="pd-10--horizontal pd-6--vertical font-14">
                            <div class="mdc-layout-grid__inner">
                                <div
                                    class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-12-phone vertical-center">
                                    <b class="condensed-text">Nome da campanha (ID):</b>
                                    &nbsp; {{ group.insertion.campaign_name }} ({{ group.insertion.id }})
                                </div>
                                <div
                                    class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-12-phone vertical-center">
                                    <b class="condensed-text">ID peça:</b> &nbsp; {{ group.insertion_group_tag_id }}
                                </div>
                            </div>
                        </div>

                        <div class="panel-heading">
                            <div class="mdc-layout-grid__inner">
                                <div
                                    class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-12-phone vertical-center">
                                    <b class="condensed-text">Linha Criativo (Titulo_PI) / (ID):</b>
                                    &nbsp; {{ group.name }} /
                                    ({{ group.id }})
                                </div>

                                <div
                                    class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-12-phone vertical-center">
                                    <span><b class="condensed-text">Investimento peça:</b> &nbsp;
                                        R$ {{ group.investment | price }}</span>
                                </div>

                                <div
                                    class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-12-phone vertical-center no-copy">
                                    <b>Hash:</b> &nbsp; <span *ngIf="group.hash">{{ group.hash }}</span> <span
                                        *ngIf="!group.hash" class="no-copy"><span
                                            class="portal-badge portal-badge--secondary no-copy">SEM HASH</span></span>
                                </div>

                                <div
                                    class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-12-phone">
                                    <div class="btn-group pull-right">
                                        <button (click)="showModalTag(group)" [disabled]="group.hash"
                                            class="mdc-button mdc-button---small">
                                            <i class="fa fa-plus fa-lg"></i>
                                        </button>
                                        <button (click)="showModalGroup(group)"
                                            class="mdc-button mdc-button---small">
                                            <i class="fa fa-edit fa-lg"></i>
                                        </button>
                                        <button (click)="confirm(group)" [disabled]="group.hash"
                                            class="mdc-button mdc-button---small">
                                            <i class="fa fa-trash fa-lg"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mdl-data-table--responsible">
                            <table class="mdl-data-table portal-table-tab-panel portal-table-tab-panel--active">
                                <thead>
                                    <tr class="text--left">
                                        <th>Prioritária <i class="fa fa-question-circle fa-lg cursor--pointer"
                                                data-toggle="tooltip"
                                                title="A seleção de priorização pode ser utilizada, caso uma linha criativo (Título PI) tenha mais de um produto/subproduto, onde a relevância do mesmo na mídia seja diferente. Caso não exista essa priorização, basta desmarcar a flag. A seleção automática para prioridade de cada grupo será a primeira TAG inserida. "></i>
                                        </th>
                                        <th>Seg. primária</th>
                                        <th>Seg. secundária</th>
                                        <th>Natureza</th>
                                        <th>Objetivo</th>
                                        <th>Família produto|subproduto</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="group.insertion_tags.length; else emptyTag">
                                    <tr *ngFor="let tag of group.insertion_tags">
                                        <td>
                                            <div class="mdc-checkbox">
                                                <input (change)="status(group, tag, tag.priority)"
                                                    [(ngModel)]="tag.priority" *ngIf="insertion.media !== 'INTERNET' && insertion.media !== 'OOH-DIGITAL'"
                                                    [disabled]="insertion.confirmation || group.id !== group.insertion_group_tag_id && group.insertion"
                                                    autocomplete="off" class="mdc-checkbox__native-control"
                                                    type="checkbox" value="1">
                                                <input (change)="status(group, tag, tag.priority)"
                                                    [(ngModel)]="tag.priority" *ngIf="insertion.media === 'INTERNET' || insertion.media === 'OOH-DIGITAL'"
                                                    [disabled]="group.hash ||group.id !== group.insertion_group_tag_id && group.insertion"
                                                    autocomplete="off" class="mdc-checkbox__native-control"
                                                    type="checkbox" value="1">
                                                <div class="mdc-checkbox__background">
                                                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                                        <path class="mdc-checkbox__checkmark-path"
                                                            d="M1.73,12.91 8.1,19.28 22.79,4.59" fill="none"
                                                            stroke="white"></path>
                                                    </svg>
                                                    <div class="mdc-checkbox__mixedmark"></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ tag.primary_segmentation }}</td>
                                        <td>{{ tag.secondary_segmentation }}</td>
                                        <td>{{ tag.nature }}</td>
                                        <td>{{ tag.objective }}</td>
                                        <td>{{ tag.product ? tag.product : '---' }}</td>
                                        <td>
                                            <button (click)="showModalTag(group, tag)"
                                                [disabled]="group.hash || group.id !== group.insertion_group_tag_id && group.insertion"
                                                class="mdc-button mdc-button---small"><i class="fa fa-edit fa-lg"></i>
                                            </button>
                                            <button (click)="confirmTag(group, tag)"
                                                [disabled]="group.hash|| group.id !== group.insertion_group_tag_id && group.insertion"
                                                class="mdc-button mdc-button---small">
                                                <i class="fa fa-trash fa-lg"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-group (doCancel)="endModal()" (doClose)="close()" [_group]="modal.group" [_insertion]="insertion"
    [action]="modal.action.group" [show]="modal.show.group"></app-modal-group>
<app-modal-tag (doCancel)="endModal()" (doClose)="close()" [action]="modal.action.tag" [group]="modal.group"
    [insertion]="insertion" [show]="modal.show.tag" [tag]="modal.tag"></app-modal-tag>

<ng-template #empty>
    <p class="pd-10--top text--center">Nenhuma peça cadastrada.</p>
</ng-template>

<ng-template #emptyTag>
    <tr>
        <td class="text--center" colspan="7">Nenhuma tag cadastrada.</td>
    </tr>
</ng-template>
